Repository k911/swoole-bundle, pull requests merged in 2019-11, with the labels that each got.

#77 ci(circle): Add shellcheck job
  .circleci/config.yml
Labels: area/ci, kind/feature, priority/backlog

#79 fix(http-server): Add top-level exception handler to prevent timeouts
  src/Bridge/Symfony/Bundle/DependencyInjection/Configuration.php
  src/Bridge/Symfony/Bundle/DependencyInjection/SwooleExtension.php
  src/Bridge/Symfony/Bundle/Resources/config/services.yaml
  src/Component/ExceptionArrayTransformer.php
  src/Server/RequestHandler/ExceptionHandler/ExceptionHandlerInterface.php
  src/Server/RequestHandler/ExceptionHandler/JsonExceptionHandler.php
  src/Server/RequestHandler/ExceptionHandler/ProductionExceptionHandler.php
  src/Server/RequestHandler/ExceptionRequestHandler.php
  tests/Feature/SwooleCommandsRegisteredTest.php
  tests/Feature/SwooleServerExceptionHandlerTest.php
  tests/Fixtures/Symfony/TestBundle/Controller/IndexController.php
  tests/Fixtures/Symfony/TestBundle/Controller/ReplacedContentTestController.php
  tests/Fixtures/Symfony/TestBundle/Controller/ReplacedContentTestController.php.tmpl
  tests/Fixtures/Symfony/TestBundle/Controller/SessionController.php
  tests/Fixtures/Symfony/TestBundle/Controller/ThrowableController.php
  tests/Fixtures/Symfony/TestBundle/ExceptionHandler/TestCustomExceptionHandler.php
  tests/Fixtures/Symfony/app/config/exception_handler_custom/swoole.yaml
  tests/Fixtures/Symfony/app/config/exception_handler_json/swoole.yaml
  tests/Fixtures/Symfony/app/config/messenger/swoole.yaml
  tests/Unit/Bridge/Symfony/Messenger/SwooleServerTaskReceiverTest.php
  tests/Unit/Bridge/Symfony/Messenger/SwooleServerTaskTransportTest.php
Labels: area/api-server, area/http-server, area/symfony-bundle, kind/bug/fixed, kind/feature, priority/critical, status/wip

#80 Supports symfony 5.0
  composer.json
  composer.lock
  src/Bridge/Symfony/Bundle/Resources/config/commands.yaml
  src/Bridge/Symfony/Bundle/Resources/config/services.yaml
Labels: area/symfony-bundle, priority/important

#83 fix(composer): Resolve upgrade issues
  .circleci/config.yml
  composer.lock
  tests/Fixtures/Symfony/TestAppKernel.php
  tests/Fixtures/Symfony/TestBundle/Controller/TaskController.php
  tests/run-feature-tests-code-coverage.sh
Labels: area/symfony-bundle, area/tests, kind/bug/fixed, priority/important, status/wip

#82 ci(circle): Fix release script
  .circleci/config.yml
  .circleci/release-version.sh
  docker-compose.yml
Labels: area/ci, kind/bug/fixed, priority/important, status/wip
