Repository k911/swoole-bundle, pull requests merged in 2019-12, with the labels that each got.

#89 build(deps): Upgrade composer packages
  composer.lock
Labels: area/deps, kind/other, priority/backlog

#91 fix(server): Use \SplFile::getRealPath for Response::sendfile Operation for a BinaryFileReponse
  src/Bridge/Symfony/HttpFoundation/ResponseProcessor.php
Labels: area/http-server, area/symfony-bundle, kind/bug/fixed, priority/important

#94 chore(php): Support php 7.4
  .circleci/config.yml
  .travis.yml
  Dockerfile
  composer.json
  composer.lock
  docker-compose.yml
  tests/Fixtures/Symfony/TestBundle/Controller/ReplacedContentTestController.php.tmpl
Labels: area/ci, area/docker, kind/other, priority/important

#96 feat(server): Add setting for "package_max_length"
  docs/configuration-reference.md
  src/Bridge/Symfony/Bundle/DependencyInjection/Configuration.php
  src/Server/HttpServerConfiguration.php
Labels: area/config, area/http-server, kind/feature, priority/important
