Repository k911/swoole-bundle, pull requests merged in 2019-04, with the labels that each got.

#39 Dockerize
  .circleci/config.yml
  .editorconfig
  Dockerfile
  composer.lock
  docker-compose.yml
  docker-test.sh
  tests/run-server-tests.sh
Labels: area/ci, area/docker, area/tests, priority/important, status/wip

#42 refactor(pid): Rename "pid_file" option to "pid-file"
  .dockerignore
  .editorconfig
  Dockerfile
  src/Bridge/Symfony/Bundle/Command/ServerReloadCommand.php
  src/Bridge/Symfony/Bundle/Command/ServerStartCommand.php
  src/Bridge/Symfony/Bundle/Command/ServerStopCommand.php
  tests/Feature/SwooleCustomPidFileTest.php
  tests/Feature/SwooleServerRunCommandTest.php
  tests/Feature/SwooleServerStartStopCommandTest.php
  tests/Feature/SwooleServerStatusCommandTest.php
  tests/Fixtures/Symfony/CoverageBundle/RequestHandler/CodeCoverageRequestHandler.php
  tests/Fixtures/Symfony/TestBundle/Test/ServerTestCase.php
  tests/Fixtures/resources/.gitignore
Labels: area/config, area/tests, kind/cleanup, priority/backlog

#46 feat: Add meaningful exceptions
  src/Bridge/Symfony/Bundle/Command/ServerStartCommand.php
  src/Bridge/Symfony/Bundle/Exception/CouldNotCreatePidFileException.php
  src/Bridge/Symfony/Bundle/Exception/PidFileNotAccessibleException.php
  src/Client/Exception/ClientConnectionErrorException.php
  src/Client/Exception/InvalidContentTypeException.php
  src/Client/Exception/InvalidHttpMethodException.php
  src/Client/Exception/MissingContentTypeException.php
  src/Client/HttpClient.php
  src/Server/Exception/AlreadyAttachedException.php
  src/Server/Exception/InvalidServerPortException.php
  src/Server/Exception/NoServerAttachedException.php
  src/Server/Exception/NotRunningException.php
  src/Server/Exception/PortUnavailableException.php
  src/Server/HttpServer.php
  tests/Feature/SwooleCustomPidFileTest.php
Labels: area/http-server, area/symfony-bundle, kind/feature, priority/important

#48 test(mock): Fix Swoole Server mocks
  tests/Unit/Server/Configurator/WithRequestHandlerTest.php
  tests/Unit/Server/Configurator/WithServerManagerStartHandlerTest.php
  tests/Unit/Server/Configurator/WithServerManagerStopHandlerTest.php
  tests/Unit/Server/Configurator/WithServerShutdownHandlerTest.php
  tests/Unit/Server/Configurator/WithServerStartHandlerTest.php
  tests/Unit/Server/Configurator/WithWorkerStartHandlerTest.php
  tests/Unit/Server/SwooleHttpServerMock.php
  tests/Unit/Server/SwooleServerMock.php
  tests/Unit/Server/WorkerHandler/HMRWorkerStartHandlerTest.php
Labels: area/tests, kind/bug/fixed, priority/critical

#49 chore(ide-helper): Switch to official swoole package
  composer.json
  composer.lock
Labels: kind/cleanup, priority/backlog

#50 ci(circle): Detect latest swoole version using pecl website
  .circleci/config.yml
  Dockerfile
  Makefile
  docker-compose.yml
Labels: area/ci, area/docker, area/tests, kind/cleanup, priority/backlog

#44 refactor(apiserver-client): Decouple components of ApiServerClient
  src/Bridge/Symfony/Bundle/Command/ServerStatusCommand.php
  src/Bridge/Symfony/Bundle/Resources/config/commands.yaml
  src/Bridge/Symfony/Bundle/Resources/config/services.yaml
  src/Client/Exception/ClientConnectionErrorException.php
  src/Client/Exception/InvalidContentTypeException.php
  src/Client/Exception/InvalidHttpMethodException.php
  src/Client/Exception/MissingContentTypeException.php
  src/Client/Exception/UnsupportedContentTypeException.php
  src/Client/Exception/UnsupportedHttpMethodException.php
  src/Client/HttpClient.php
  src/Coroutine/CoroutinePool.php
  src/Server/Api/ApiServerClient.php
  src/Server/Api/ApiServerClientFactory.php
  src/Server/Exception/AlreadyAttachedException.php
  src/Server/Exception/IllegalInitializationException.php
  src/Server/Exception/NotRunningException.php
  src/Server/Exception/PortUnavailableException.php
  src/Server/Exception/UnexpectedPortException.php
  src/Server/Exception/UninitializedException.php
  src/Server/HttpServer.php
  tests/Feature/SwooleServerReloadViaApiClientTest.php
  tests/Feature/SwooleServerStatusCommandTest.php
  tests/Fixtures/Symfony/TestBundle/Test/ServerTestCase.php
Labels: area/api-server, area/docker, area/tests, kind/cleanup, priority/important, status/wip

#52 fix(static-server): Fix unset public dir path in "AdvancedStaticFilesServer"
  src/Bridge/Symfony/Bundle/DependencyInjection/SwooleExtension.php
  src/Client/Http.php
  src/Client/HttpClient.php
  tests/Feature/StaticFilesServingTest.php
  tests/Feature/SwooleServerHMRTest.php
  tests/Fixtures/Symfony/TestBundle/Test/ServerTestCase.php
  tests/Fixtures/Symfony/app/config/auto/swoole.yaml
  tests/Fixtures/Symfony/app/config/static/swoole.yaml
Labels: area/http-server, kind/bug/confirmed, priority/critical

#53 fix(server): Make sure "reactor" running mode works correctly
  .editorconfig
  src/Bridge/Symfony/Bundle/Command/AbstractServerStartCommand.php
  src/Server/Configurator/WithServerStartHandler.php
  src/Server/HttpServerConfiguration.php
  src/Server/LifecycleHandler/SigIntHandler.php
  tests/Feature/SwooleServerRunCommandTest.php
  tests/Feature/SwooleServerStartStopCommandTest.php
  tests/Fixtures/Symfony/app/config/reactor/swoole.yaml
  tests/Fixtures/Symfony/app/config/swoole.yaml
  tests/Unit/Server/Configurator/WithServerStartHandlerTest.php
Labels: area/config, area/http-server, kind/bug/fixed, priority/critical
