Repository k911/swoole-bundle, pull requests merged in 2020-06, with the labels that each got.

#239 ci(circle): upgrade docker client image to v19.03.11
  .circleci/config.yml
Labels: area/ci, kind/other, priority/backlog

#246 chore(composer): upgrade deps
  composer.json
  composer.lock
  phpstan.tests.neon
Labels: area/deps, area/tests, dependencies, kind/other

#240 configurable mime types for advanced static files server
  docs/configuration-reference.md
  src/Bridge/Symfony/Bundle/DependencyInjection/Configuration.php
  src/Bridge/Symfony/Bundle/DependencyInjection/SwooleExtension.php
  src/Server/RequestHandler/AdvancedStaticFilesServer.php
  tests/Feature/SwooleServerStaticFilesServingTest.php
  tests/Fixtures/Symfony/app/config/mime/swoole.yaml
Labels: area/config, area/http-server, area/symfony-bundle, kind/feature, priority/important, status/waiting-for-contributor

#228 Symfony error handler
  composer.json
  composer.lock
  src/Bridge/Symfony/Bundle/DependencyInjection/Configuration.php
  src/Bridge/Symfony/Bundle/DependencyInjection/SwooleExtension.php
  src/Bridge/Symfony/Bundle/ErrorHandler/ErrorResponder.php
  src/Bridge/Symfony/Bundle/ErrorHandler/ExceptionHandlerFactory.php
  src/Bridge/Symfony/Bundle/ErrorHandler/SymfonyExceptionHandler.php
  src/Bridge/Symfony/Bundle/ErrorHandler/ThrowableHandlerFactory.php
  tests/Feature/SwooleServerExceptionHandlerTest.php
  tests/Fixtures/Symfony/app/config/exception_handler_symfony/swoole.yaml
  tests/Unit/Bridge/Symfony/Bundle/ErrorHandler/ExceptionHandlerFactoryTest.php
  tests/Unit/Bridge/Symfony/Bundle/ErrorHandler/ThrowableHandlerFactoryTest.php
Labels: area/config, area/http-server, area/performance, area/symfony-bundle, kind/feature, priority/backlog, status/waiting-for-contributor

#242 fix for log collecting in symfony profiler
  composer.json
  composer.lock
  src/Bridge/Symfony/Bundle/DependencyInjection/CompilerPass/DebugLogProcessorPass.php
  src/Bridge/Symfony/Bundle/SwooleBundle.php
  tests/Feature/SymfonyProfilerTest.php
  tests/Fixtures/Symfony/TestAppKernel.php
  tests/Fixtures/Symfony/TestBundle/Controller/TwigController.php
  tests/Fixtures/Symfony/TestBundle/Test/ServerTestCase.php
  tests/Fixtures/Symfony/app/config/profiler/framework.yaml
  tests/Fixtures/Symfony/app/config/profiler/routing/routing.yaml
  tests/Fixtures/Symfony/app/config/profiler/web_profiler.yaml
  tests/Fixtures/Symfony/app/config/services.yaml
  tests/Fixtures/Symfony/app/console
  tests/Fixtures/Symfony/app/templates/base.html.twig
Labels: area/config, area/symfony-bundle, kind/bug/fixed, priority/important

#262 chore(composer): upgrade deps
  commitlint.config.js
  composer.lock
Labels: area/deps, dependencies, kind/other, priority/backlog
