Repository k911/swoole-bundle, pull requests merged in 2020-04, with the labels that each got.

#175 fix(bug): update code to return all headers when there is an array
  src/Bridge/Symfony/HttpFoundation/ResponseProcessor.php
  tests/Unit/Bridge/Symfony/HttpFoundation/ResponseProcessorTest.php
Labels: area/http-server, area/tests, kind/bug/fixed, priority/important

#196 test(phpunit): fix deprecations
  composer.json
  composer.lock
  tests/Feature/SwooleServerCustomPidFileTest.php
  tests/Feature/SymfonyMessengerSwooleTaskTransportTest.php
  tests/Unit/Bridge/Doctrine/ORM/EntityManagerHandlerTest.php
  tests/Unit/Bridge/Symfony/HttpFoundation/CloudFrontRequestFactoryTest.php
  tests/Unit/Bridge/Symfony/HttpFoundation/ResponseProcessorTest.php
  tests/Unit/Bridge/Symfony/HttpFoundation/TrustAllProxiesRequestHandlerTest.php
  tests/Unit/Bridge/Symfony/HttpKernel/HttpKernelHttpDriverTest.php
  tests/Unit/Bridge/Symfony/Messenger/SwooleServerTaskReceiverTest.php
  tests/Unit/Bridge/Symfony/Messenger/SwooleServerTaskTransportTest.php
  tests/Unit/Server/Configurator/WithServerStartHandlerTest.php
  tests/Unit/Server/Configurator/WithTaskFinishedHandlerTest.php
  tests/Unit/Server/Configurator/WithTaskHandlerTest.php
  tests/Unit/Server/Runtime/HMR/InotifyHMRTest.php
Labels: area/deps, area/tests, dependencies, kind/cleanup, priority/backlog

#207 chore(composer): upgrade packages
  composer.json
  composer.lock
Labels: area/deps, kind/cleanup, priority/backlog
